{{ $cover := and
  (.HasShortcode "blocks/cover")
  (not .Site.Params.ui.navbar_translucent_over_cover_disable)
-}}
{{ $baseURL := urls.Parse $.Site.Params.Baseurl -}}
{{ $logo := resources.Get "icons/footer-logo.png" -}}

<nav class="td-navbar js-navbar-scroll
          {{- if $cover }} td-navbar-cover {{- end }}" data-bs-theme="dark">
<div class="container-fluid flex-column flex-md-row">

<a class="navbar-brand maakaf-navbar-brand" href="{{ .Site.Home.RelPermalink }}">
  {{ with $logo -}}
    <img src="{{ .RelPermalink }}" width="139" height="40" alt="{{ $.Site.Title }}">
  {{ end -}}
</a>

<div class="td-navbar-nav-scroll ms-md-auto" id="main_navbar">
  <ul class="navbar-nav">
    {{ $p := . -}}
    {{ range .Site.Menus.main -}}
    <li class="nav-item">
      {{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) -}}
      {{ $href := "" -}}
      {{ with .Page -}}
        {{ $active = or $active ( $.IsDescendant .) -}}
        {{ $href = .RelPermalink -}}
      {{ else -}}
        {{ $href = .URL | relLangURL -}}
      {{ end -}}
      {{ $isExternal := ne $baseURL.Host (urls.Parse .URL).Host -}}
      <a
        class="nav-link {{- if $active }} active {{- end }}"
        href="{{ $href }}"
        {{- if $isExternal }} target="_blank" rel="noopener" {{- end -}}
      >
          {{- .Pre -}}
          <span>{{ .Name }}</span>
          {{- .Post -}}
      </a>
    </li>
    {{ end -}}
  </ul>
</div>

<div class="navbar-actions-left d-none d-lg-flex">

  <div class="td-light-dark-menu">
    <span class="lang-selector-static">HE</span>
  </div>

  {{ if .Site.Params.ui.showLightDarkModeMenu -}}
  <div class="td-light-dark-menu">
    {{ partial "theme-toggler" . }}
  </div>

  <a href="https://chat.whatsapp.com/" class="btn btn-whatsapp-community" target="_blank" rel="noopener">
    <i class="fab fa-whatsapp"></i> הצטרפות לקהילה
  </a>

  {{ end -}}

  {{ partial "search-input.html" . }}
  
</div>

</div>
</nav>